body {
    background-image: url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.delete-btn {
    background-color: #ff6464;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}
